@{
    ViewBag.Title = "Home Page";
}
<div class="product-info">
     <img src="~/img/tropical-beach-.jpg" />
     <h3>Beach for Sale</h3>
     <ul class="product-props">
         <li>Price: $1</li>
         <li>Location: Next to the Ocean</li>
         <li>Description: A Nice Beach</li>
     </ul>
     <button>Buy</button>
 </div>
<div id="theForm">
        <form>
            <label>Your Name:</label>
            <br />
            <input />
            <br />
            <label>Email:</label>
            <br />
            <input type="email" />
            <br />
            <label>Subject:</label>
            <br />
            <input />
            <br />
            <label>Message:</label>
            <br />
            <textarea rows="4"></textarea>
            <br />
            <input type="submit" value="Send Message" />
            <br />
        </form>
    </div>