@page
<h2>Sorry...</h2>
<p>We've had a problem please try again. Maybe catch up on the latest in AI <a href="https://www.youtube.com/watch?v=oHg5SJYRHA0&ab_channel=cotter548">"Science Baffled by Baby Robot"</a></p>